<div class="reviewgrow-welcome" data-reviewgrow-welcome aria-hidden="true">
    <div class="reviewgrow-welcome__content">
        <div class="reviewgrow-welcome__logo-wrap">
            <span class="reviewgrow-welcome__glow"></span>
            <img
                class="reviewgrow-welcome__logo"
                src="{{ url_for('static', filename='images/logo.png') }}"
                alt=""
                width="402"
                height="340"
            >
        </div>
        <p class="reviewgrow-welcome__text">Welcome to ReviewGrow</p>
    </div>
</div>
